image:
  pullPolicy: IfNotPresent
  tag: {{ DOCKER_TAG }}

imagePullSecrets:
  - name: prefarm-alert-image-pull

isTestnet: "true"

observerDataB64: "{{ OBSERVER_DATA_B64 }}"
heartbeatURL: "{{ HEARTBEAT_URL }}"
alertURL: "{{ ALERT_URL }}"
singletonName: "Chris Testnet10"
