image:
  repository: ghcr.io/chia-network/prefarm-alert
  tag: {{ DOCKER_TAG }}

imagePullSecrets:
  - name: prefarm-alert-image-pull

deployment:
  strategy:
    type: Recreate

secretEnvironment:
  PREFARM_ALERT_ALERT_URL: "{{ ALERT_URL }}"
  PREFARM_ALERT_HEARTBEAT_URL: "{{ HEARTBEAT_URL }}"

secretFile:
  mountPath: "/observer-info"
  values:
    observer-data.txt: "{{ OBSERVER_DATA_B64 }}"

configmapEnvironment:
  PREFARM_ALERT_DATA_DIR: "/ic-data"
  PREFARM_ALERT_VENV_PATH: "/chia-blockchain/venv"
  PREFARM_ALERT_OBSERVER_DATA: "/observer-info/observer-data.txt"
  PREFARM_ALERT_NAME: "{{ SINGLETON_NAME }}"
  CHIA_ROOT: /chia-data
  testnet: "false"
  log_level: ERROR

volumes:
  - name: ic-data
    mountPath: /ic-data
    readOnly: false
    size: 1Gi
    storageClassName: longhorn
