image:
  repository: ghcr.io/chia-network/prefarm-alert
  tag: {{ DOCKER_TAG }}

imagePullSecrets:
  - name: prefarm-alert-image-pull

deployment:
  strategy:
    type: Recreate

secretEnvironment:
  PREFARM_ALERT_ALERT_URL: "{{ ALERT_URL }}"
  PREFARM_ALERT_HEARTBEAT_URL: "{{ HEARTBEAT_URL }}"
  PREFARM_ALERT_READY_ALERT_URL: "{{ READY_ALERT_URL }}"
  PREFARM_ALERT_DB_HOST: "{{ DB_HOST }}"
  PREFARM_ALERT_DB_USER: "{{ DB_USER }}"
  PREFARM_ALERT_DB_PASS: "{{ DB_PASS }}"
  PREFARM_ALERT_DB_NAME: "prefarm-alert"
  PREFARM_ALERT_ENABLE_MYSQL: "true"

secretFile:
  mountPath: "/observer-info"
  values:
    observer-data.txt: "{{ OBSERVER_DATA_B64 }}"
  stringValues:
    private_ca.crt: |
      {{ PRIVATE_CA_CRT | indent(6, False) }}
    private_ca.key: |
      {{ PRIVATE_CA_KEY | indent(6, False) }}
    chia_ca.crt: |
      {{ CHIA_CA_CRT | indent(6, False) }}
    chia_ca.key: |
      {{ CHIA_CA_KEY | indent(6, False) }}

configmapEnvironment:
  PREFARM_ALERT_DATA_DIR: "/ic-data"
  PREFARM_ALERT_VENV_PATH: "/chia-blockchain/venv"
  PREFARM_ALERT_OBSERVER_DATA: "/observer-info/observer-data.txt"
  PREFARM_ALERT_NAME: "{{ SINGLETON_NAME }}"
  CHIA_ROOT: /chia-data
  keys: "none"
  self_hostname: "node-node-all.chia-blockchain-mainnet.svc"
  PREFARM_ALERT_CHIA_HOSTNAME: "node-node-all.chia-blockchain-mainnet.svc"
  ca: "/observer-info"
  testnet: "false"
  log_level: ERROR

sharedEmptyDirs:
  - name: ic-data
    mountPath: /ic-data

networkPolicy:
  enabled: true
  policyTypes:
    - Egress
  egressRules:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: "chia-blockchain-mainnet"
      ports:
        - protocol: TCP
          port: 8555
    - to:
        - ipBlock:
            cidr: "{{ DB_HOST }}/32"
      ports:
        - protocol: TCP
          port: 3306
